*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B91450;
    font-family: sans-serif;
}

.title{
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.wrapper{
    width: 70%;
    margin: auto;
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
    width: calc(100% / 3);
    margin-bottom: 3rem;
}

.container *{
    margin-left: 1rem;
}

.label{
    color: #B91450;
    font-weight: bold;
}

.input{
    border: 1px solid #B91450;
    background-color: #fff;
    padding: .3rem;
    border-radius: .3rem;
}

.btn{
    font-size: 1.4rem;
    color: #B91450;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    border: 1px solid gray;
    padding: .3rem;
    font-weight: bold;
}

.ticket{
    width: 70%;
    margin: auto;
    background-color: #fff;
}

.ticket.d-block{
    display: block;
}

.d-none{
    display: none;
}


.nome-passeggero{
    background-color: #808080;
}


.ticket-cnt{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.nome-passeggero, .offerta, .carrozza,
.codice-CP, .costo-biglietto{
    height: 120px;
    padding: 1rem 1rem;
}